main {
    overflow: hidden;
    margin-top: -46px;
    .main {
        &-top {
            display: flex;
            min-height: 585px;
            position: relative;
            margin-bottom: -300px;
            padding-top: 100px;
            padding-bottom: 300px;

            &::before {
                content: "";
                display: flex;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 55%;
                background: $violetBg;
            }

            .slider-control {
                display: flex;
                justify-content: space-between;
                position: relative;

                .numer,
                .arrow-wrapper {
                    display: flex;
                    align-items: center;
                    font-size: 34px;
                    span {
                        margin: 0 8px;
                    }
                    .slider-count {
                        opacity: 0.6;
                    }
                    .slick-arrow {
                        position: relative;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        display: flex;
                        height: 62px;
                        width: 62px;
                        border-radius: 100px;
                        border: 1px solid #fff;
                        align-items: center;
                        justify-content: center;
                        opacity: 0.6;
                        transition: all .5s;
                        margin: 0 17px;
                        &.active {
                            opacity: 1;
                        }
                        &.slick-prev {
                            transform: rotate(90deg);
                        }
                        &.slick-next {
                            transform: rotate(-90deg);
                        }
                        &::before,
                        &::after {
                            content: "";
                            display: flex;
                            width: 15px;
                            height: 2px;
                            background: #fff;
                            opacity: 1;
                            position: absolute;
                        }
                        &::before {
                            transform: rotate(-45deg);
                            right: 17px;
                        }
                        &::after {
                            transform: rotate(45deg);
                            left: 17px;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                }

            }
        }

        &-bottom {
            position: relative;

            h3 {
                margin-bottom: 105px;
            }

            .bg-text {
                left: 26%;
            }
        }
    }

    .slider-block {
        padding-bottom: 185px;

        .slide-img {
            width: 663px;
            height: 601px;
            margin: 0 10px;
            border-radius: 15px;
            overflow: hidden;
        }
    }

    .block-info {
        position: relative;
        padding-bottom: 380px;

        &_desc {
            position: absolute;
            width: 100%;
            top: 17%;
            display: flex;
            justify-content: flex-end;

            .container {
                display: flex;
                justify-content: flex-end;
            }

            .desc {
                width: 60%;
                background: $violetBg;
                padding: 116px 100px 56px;

                p {
                    margin-bottom: 60px;
                    font-size: 24px;
                    line-height: 48px;
                }
            }
        }
    }
}